In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/processed/obdelani_podatki.csv", sep="," , decimal=".", index_col=0)
df.head()

   no2  pm2.5  benzen  pm10  year  month  day  time
0   47     47       3    56  2023      2   15    19
1   40     49       3    56  2023      2   15    20
2   31     44       2    49  2023      2   15    21
3   26     41       2    45  2023      2   15    22
4   18     40       2    43  2023      2   15    23

In [3]:
df.isnull().sum()

no2       0
pm2.5     0
benzen    0
pm10      0
year      0
month     0
day       0
time      0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import explained_variance_score

df_vhod = df.drop('pm10', axis = 1)
df_izhod = df['pm10']

X_train, X_test, y_train, y_test = train_test_split(df_vhod, df_izhod, test_size=0.3, random_state=1234)

reg = LinearRegression()
reg.fit(X_train,y_train)

y_pred = reg.predict(X_test)

In [5]:
df = pd.DataFrame(data = {"actual": y_test,
                         "predicted": y_pred})
df

     actual  predicted
191      39  44.877448
161      31  29.181667
110      27  18.697633
192      45  48.029529
180      27  32.437312
..      ...        ...
97       28  27.467052
187      53  53.448568
228      19  15.687592
144      22  17.888407
202      36  43.217574

[78 rows x 2 columns]

In [6]:
mae = mean_absolute_error(y_test, y_pred)
mae

3.3924757924648623

In [7]:
mse = mean_squared_error(y_test, y_pred)
mse

18.647544211166863

In [8]:
var = explained_variance_score(y_test, y_pred)
var

0.9275502951369885

In [10]:
f_pred = reg.predict

     no2  pm2.5  benzen  year  month  day  time
191   45     28       1  2023      2   23    18
161   22     22       1  2023      2   22    12
110   31     12       1  2023      2   20     9
192   46     33       3  2023      2   23    19
180   33     22       1  2023      2   23     7
..   ...    ...     ...   ...    ...  ...   ...
97    38     18       2  2023      2   19    20
187   47     35       1  2023      2   23    14
228   14     11       0  2023      2   25     7
144   23     12       1  2023      2   21    19
202   36     30       1  2023      2   24     5

[78 rows x 7 columns]